<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodawanie ogłoszenia</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
    <script src="/js/postrequest.js"></script>
    <script src="/js/getrequest.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-left" th:href="@{/dashboard}" title="Powrót do strony głównej">
            <img itemprop="image" class="mobile" th:src="@{/img/m4chi.png}" alt="Motoryzacyjny portal ogłoszeniowy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/advertisement/all}">Zarządzaj ogłoszeniami</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/advertisement/form}" style="">Dodaj ogłoszenie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signup}">Dodawanie użytkownika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" style="">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <form class="form-horizontal" role="form" method="POST" th:action="@{/advertisement/form/save}" th:object="${advertisement}" enctype="multipart/form-data">
        <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">Twoje ogłoszenie zostało dodane!.</div>

        <h1 style="margin-top: 200px; margin-bottom: 20px; text-align: center;">Dane samochodu</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Marka pojazdu</label>
                    <input type="text" th:field="*{brand}" class="form-control" id="brand"
                           required autofocus/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Model pojazdu</label>
                    <input type="text" th:field="*{model}" class="form-control" id="model"
                           required autofocus/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Rodzaj paliwa</label><br/>
                    <select th:field="*{fuel}"
                            style="width: 253px; height: 36px; border: 1px solid #ced4da; border-radius: .25rem; color: #495057;">
                        <option value="default">Wybierz rodzaj paliwa</option>
                        <option th:value="'Benzyna'" th:text="Benzyna"></option>
                        <option th:value="'Diesel'" th:text="Diesel"></option>
                        <option th:value="'LPG'" th:text="LPG"></option>
                        <option th:value="'Hybryda'" th:text="Hybryda"></option>
                        <option th:value="'Elektryczny'" th:text="Elektryczny"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Pojemność skokowa</label>
                    <input type="text" th:field="*{liters}" class="form-control" id="liters"
                           required autofocus/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Moc</label>
                    <input type="text" th:field="*{power}" class="form-control" id="power"
                           required autofocus/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Skrzynia biegów</label>
                    <select th:field="*{gearbox}"
                            style="width: 253px; height: 36px; border: 1px solid #ced4da; border-radius: .25rem; color: #495057;">
                        <option value="default">Wybierz skrzynie biegów</option>
                        <option th:value="'Automat'" th:text="Automatyczna"></option>
                        <option th:value="'Manual'" th:text="Manualna"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Przebieg</label>
                    <input type="text" th:field="*{mileage}" class="form-control" id="mileage" placeholder="Przebieg"
                           required autofocus/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Rok produkcji</label>
                    <input type="text" th:field="*{year}" class="form-control" id="year" placeholder="Rok produkcji"
                           required autofocus/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Cena</label>
                    <input type="text" th:field="*{price}" class="form-control" id="price"
                           required autofocus/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <textarea rows="6" cols="40" th:field="*{description}" placeholder="Opis pojazdu"></textarea>
        </div>

        <input type="file" name="imageFile">
        <input type="submit" value="Upload"/>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Dodaj</button>
            </div>
        </div>
        </form>


    </form>


    </div>


</body>
</html>