<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Strona główna</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div class="container-fluid">
        <a class="navbar-left" href="#" title="Powrót do strony głównej">
            <img itemprop="image" class="mobile" th:src="@{/img/m4chi.png}" th:href="@{/dashboard}" alt="Motoryzacyjny portal ogłoszeniowy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Zarządzaj ogłoszeniami</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/advertisement/form}" style="">Dodaj ogłoszenie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" style="">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-left" href="#" title="Powrót do strony głównej">
            <img itemprop="image" class="mobile" th:src="@{/img/m4chi.png}" alt="Motoryzacyjny portal ogłoszeniowy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" style="">Zaloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2 style="margin-top: 200px;">Ostatnie ogłoszenia</h2>
<!--<div class="container">
    <div class="container" th:if="${advertisements.empty}">
        <h2>Nie ma żadnych ogłoszeń do wyświetlenia!</h2>
    </div>
    <div class="row">

        <div class="col-sm-4" th:each="advertisement : ${advertisements}">
            <img th:src="@{/img/mustang.jpg}" style="width: 325px; height: 225px;">
            <span th:text="${advertisement.brand}"> Brand </span>
            <span th:text="${advertisement.model}"> Model </span><br/>
            &lt;!&ndash;<button onclick="sendRequest('DELETE', '/advertisement/1')">Usuń</button>&ndash;&gt;
        </div>
    </div>
</div>-->

</body>
</html>